
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-apple-gray-background text-apple-gray-text;
    font-family: 'Century Gothic', Arial, sans-serif;
  }

  * {
    font-family: 'Century Gothic', Arial, sans-serif;
  }
}

@layer utilities {
  .bg-silver-gradient {
    background: linear-gradient(
      to bottom, 
      #C7C8CA, 
      #A2A3A5
    );
  }
}

